html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

header {
  height: 100vh;
  background-image: url(../styles/assets/background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

header img.iphoneMockup {
  position: absolute;
  height: 64%;
  left: 770px;
  top: 193px;
}

header div.text {
  width: 51%;
  height: 26%;
  padding-bottom: 57px;
}

header div.text h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  padding-bottom: 45px;
  color: #ffffff;
}

header div.text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

header .downloadButtons .appStore {
  margin-right: 31px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 111px;
}

nav .logo {
  width: 144px;
  height: 47px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCB57F;
}

nav ul .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 174px;
  height: 42px;
  background: -webkit-gradient(linear, left top, right top, from(#FC987E), to(#FCB57F));
  background: linear-gradient(90deg, #FC987E 0%, #FCB57F 100%);
  border-radius: 100px;
  color: #ffffff;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

nav ul .button.about {
  width: 140px;
  margin-right: 60px;
}

nav ul .button:hover {
  background: #ffffff;
  border: 1px solid #FC987E;
  color: #FC987E;
}

main div.sec1 {
  background-image: url(../styles/assets/colornormal.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

main div.sec1 section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main div.sec1 section.about .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main div.sec1 section.about .tittle img {
  height: 25%;
  margin-right: 20px;
}

main div.sec1 section.about .tittle h2 {
  font-family: 'Manjari', sans-serif;
  font-size: 72px;
  background: -webkit-linear-gradient(91.6deg, #FCB87E 1.68%, #FCD27E 45.13%, #FC987E 99.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main div.sec2 {
  background-image: url(../styles/assets/colornormal.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}
